
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>baslik</title>
</head>
<body>
    burası layout
    <div style="background-color:aqua">sabit arkaplan renkli yazı</div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
